<% content_for :title, "Gossip" %>
<!-- Affichage Stylisé du Gossip-->
<div class ='align-middle text-center'>
	<div class="card mt-5 ml-5 mr-5" style="height:200px">
	  <div class="card-body">
	    <h5 class="card-title"><%= params[:gossip].title %></h5>
	    <p class="card-title"><%= params[:gossip].created_at.strftime("%d/%m/%Y") %></p>
	    <p class="card-title">A gossip from : <%= link_to params[:gossip].user.first_name , dynamic_pages_user_path(:id => params[:gossip].user.id)%></p>
	    <p class="card-text"><%= params[:gossip].content %></p>
	  </div>
	</div>
</div>


<!-- DISPLAY DES COMMENTAIRES -->
<h1 class='text-center mt-2 mb-2'>Comments</h1>
<div class='container-fluid'>
	<div class="row">
		<% params[:comments].each do |comment| %>
			<div class="col-4 col-sm-4 col-md-4 col-lg-4 mt-5 text-center" style="width: 18rem">
			  <div class="card-body">
			    <h5 class="card-title">From : 
					    <%= link_to comment.user.first_name , dynamic_pages_user_path(:id => comment.user.id)%></h5>
				<p class="card-title"><%= comment.created_at.strftime("%d/%m/%Y") %></p>
			    <p class="card-title"><%= comment.content %></p>
			  </div>
			</div>
		<%end%>
	</div>
</div>
